.home{
    margin-inline: auto;
    margin-top: 50px;
    margin-bottom: 0;
    width: min(90%, 70.5rem);
    height: 1000px;
}

.home-sidebar{
    width: 12rem;
}

.home-about{
    background-color: gray;
    width: min(0, 58rem);
    margin-left: 12.5rem;
    height: 1000px;
}
