.navbar{
    border-bottom: 0.1px solid gray;
}

.navbar-container{
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.navbar-logo{
    position: absolute;
    margin-top: 7px;
    height: 78px;
}

.name-container{
    margin-left: 5.2rem;
    position: absolute;
    display: block;
    font-weight: bold;
}

.title-name{
    margin-bottom: 0;
    font-size: 1.1em;
}

.title-undertext{
    margin-top: 0;
    font-size: 0.8em;
}

.links {
    display: flex;
    justify-content: right;
    text-align: center;
    color: white;
    font-weight: bold;
}

.navbar-container a {
    text-decoration: none;
    margin: 2rem;
    margin-right: 0;
    font-size: 1em;
}

.hover-animation {
    display: inline-block;
    position: relative;
    color: white;
}
  
.hover-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    top: 25px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

