.project-container{
  margin-inline: auto;
  margin-top: 50px;
  margin-bottom: 0;
  width: min(90%, 70.5rem);
  height: auto;

}

.project-block{
  height: 300px;
  margin-top: 50px;
  border-radius: 5px;
  background: black;
}

.project-heading{
  background-color: gray;
}

.project-desc{
  height: auto;
  background-color: gray;
}

.project-git-button, .project-try-button{
  background: gray;
	border: none;
	padding: 0;
	cursor: pointer;

  padding: 20px;
  width: 130px;
  border-radius: 5px;
}

.project-git-button{
  margin: 10px;
}

.project-try-button{
  margin: 10px;
}
