.resume{
    margin-inline: auto;
    margin-top: 50px;
    margin-bottom: 0;
    width: min(90%, 70.5rem);
}

.react-pdf__Page__canvas {
    margin-inline: auto;
    width: 70% !important;
    height: 100% !important;
}