.sidebar-container{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: gray;
    margin-bottom: 0;
    opacity: 0.7;
    font-size: .85em;
    width: 12rem;
    height: 1000px;
    transition: 0.3s;
}

.sticky{
    position: sticky;
    top: 0;
    height: 45%;
}

.sidebar-head{
    margin: 0;
}

.sidebar-container:hover{
    opacity: 1;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

.sidebar-logo{
    height: 26%;
    padding: 0;
}

.sidebar-list{
    list-style: none;
    padding-left: 0;
}

.sidebar-icons{
    background-color: gray;
    margin-top: 10px;
    width: 6%;
    height: 100%;
}

.sidebar-item{
    margin-top: 15px;
}

